<footer id="kalkulator">
    <div class="footer">
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
        </div>

        <span>&copy; 2020 Dewa Bisma</span>
    </div>
</footer>