<header>
    <nav class="nav-wrapper">
        <!-- Logo -->
        <div class="logo-wrap">
            <a href="/">Kalkulator Luas</a>
        </div>

        <ul class="navbar">
            <a href="/">
                <li>HOME</li>
            </a>
            <a href="/dashboard">
                <li>DASHBOARD</li>
            </a>
        </ul>
    </nav>
</header>