<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator Luas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Header -->
    <%- include('header'); %>

    <!-- Content -->
    <main>
        <div class="container">
            <div class="option-text">
                <h2>Pilih luas bangun datar apa yang ingin anda hitung!</h2>
            </div>
            <div class="shapes-option">
                <div class="shapes triangle">
                    <img src="Resources/segitiga1.png" alt="segitiga">
                </div>
                <div class="shapes square">
                    <img src="Resources/persegi.png" alt="persegi">
                </div>
                <div class="shapes circle">
                    <img src="Resources/lingkaran.png" alt="lingkaran">
                </div>
            </div>

            <div class="form-square">
                <form class="form" action="/" method="post" onsubmit="return validateFormPersegi()">
                    <div class="input">
                        <input type="text" value="persegi" name="bangun" hidden>
                        <label for="Sisi">Sisi Persegi:</label>
                        <input type="text" name="sisi" id="sisi">
                        <select name="satuan" class="satuan">
                            <option value="cm">cm</option>
                            <option value="m">m</option>
                        </select>
                    </div>

                    <button type="submit" class="btn">Hitung</button>
                </form>
            </div>

            <div class="form-triangle">
                <form class="form" action="/" method="post" onsubmit="return validateFormSegitiga())">
                    <div class="input">
                        <input type="text" value="segitiga" name="bangun" hidden>
                        <label for="alas">Alas Segitiga:</label>
                        <input type="text" name="alas" id="alas">
                        <select name="satuan" class="satuan">
                            <option value="cm">cm</option>
                            <option value="m">m</option>
                        </select>

                        <label class="second-label" for="tinggi">Tinggi Segitiga:</label>
                        <input type="text" name="tinggi" id="tinggi">
                        <select name="satuan" class="satuan">
                            <option value="cm">cm</option>
                            <option value="m">m</option>
                        </select>
                    </div>

                    <button type="submit" class="btn">Hitung</button>
                </form>
            </div>

            <div class="form-circle">
                <form class="form" action="/" method="post" onsubmit="return validateFormLingkaran()">
                    <div class="input">
                        <input type="text" value="lingkaran" name="bangun" hidden>
                        <label for="jari-jari">Jari-jari Lingkaran:</label>
                        <input type="text" name="jari_jari" id="jari-jari">
                        <select name="satuan" class="satuan">
                            <option value="cm">cm</option>
                            <option value="m">m</option>
                        </select>
                    </div>

                    <button type="submit" class="btn">Hitung</button>
                </form>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <%- include('footer'); %>

    <script>
        // Render DOM Shape Options
        const shapeTriangle = document.querySelector('.shapes.triangle');
        const shapeSquare = document.querySelector('.shapes.square');
        const shapeCircle = document.querySelector('.shapes.circle');
        

        // Render Form
        const formTriangle = document.querySelector('.form-triangle');
        const formSquare = document.querySelector('.form-square');
        const formCircle = document.querySelector('.form-circle');

        // Render Input
        const inputSisi = document.querySelector('#sisi');
        const inputAlas = document.querySelector('#alas');
        const inputTinggi = document.querySelector('#tinggi');
        const inputJariJari = document.querySelector('#jari-jari');

        // Function
        const displayForm = (item) => {
            // Get event target attribute
            const shapeType = item.target.getAttribute('alt')
            switch (shapeType) {
                case 'segitiga':
                    formTriangle.style.display = 'block';
                    formSquare.style.display = 'none';
                    formCircle.style.display = 'none';
                    break;
                case 'persegi':
                    formTriangle.style.display = 'none';
                    formSquare.style.display = 'block';
                    formCircle.style.display = 'none';
                    break;
                case 'lingkaran':
                    formSquare.style.display = 'none';
                    formTriangle.style.display = 'none';
                    formCircle.style.display = 'block';
                    break;
            }
        }

        const validateFormLingkaran = () => {
            if (Number.isInteger(parseInt(inputJariJari.value))) {
                alert("working");
                return true;
            } else {
                alert("please only enter numbers!");
                return false;
            }
        }

        const validateFormSegitiga = () => {
            if (Number.isInteger(parseInt(inputAlas.value)) && Number.isInteger(parseInt(inputTinggi.value))) {
                alert("working");
                return true;
            } else {
                alert("please only enter numbers!");
                return false;
            }
        }

        const validateFormPersegi = () => {
            if (Number.isInteger(parseInt(inputSisi.value))) {
                alert("working");
                return true;
            } else {
                alert("please only enter numbers!");
                return false;
            }
        }

        // Add Event
        shapeTriangle.addEventListener('click', (event) => {
            displayForm(event)
        });

        shapeSquare.addEventListener('click', (event) => {
            displayForm(event)
        });

        shapeCircle.addEventListener('click', (event) => {
            displayForm(event)
        });

        

    </script>
</body>

</html>